@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@theme {
    --color-pg-sky: #0ea5e9e6; /* Example: sky-500 with 90% opacity */
    --color-pg-red: oklch(63.7% 0.237 25.331);
    --color-pg-red-button: oklch(70.4% 0.191 22.216);
    --color-pg-sky-button-disabled: #95d1ece6;
    --color-pg-sky-light:#93deffe6;
    --color-pg-sky-text:#4b819b;
    --font-Manrope: Manrope, sans-serif;
}

/* 
class composition in tailwindcss which is nothing but combining multiple utility classes into a single class for reuse.
use btn-primary class in your html element to apply these styles.
 */
.pg-sky-button {
  @apply bg-pg-sky text-white px-4 py-2 rounded-md cursor-pointer disabled:cursor-not-allowed;
}



body {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  h3 {
    @apply text-xl font-semibold;
  }

  h2 {
     @apply text-2xl font-semibold;
  }
}
